USE [NewDB]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2024-02-14 22:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Name] [varchar](255) NOT NULL,
	[ManagerPersonalCode] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2024-02-14 22:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[PersonalCode] [char](11) NOT NULL,
	[FirstName] [varchar](255) NULL,
	[LastName] [varchar](255) NULL,
	[StartDate] [date] NULL,
	[BirthDate] [date] NULL,
	[Position] [varchar](255) NULL,
	[DepartmentName] [varchar](255) NULL,
	[ProjectID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 2024-02-14 22:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ID] [int] NOT NULL,
	[Name] [varchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Department] ([Name], [ManagerPersonalCode]) VALUES (N'Java', N'48509141175')
INSERT [dbo].[Department] ([Name], [ManagerPersonalCode]) VALUES (N'Testing', N'38804172782')
INSERT [dbo].[Department] ([Name], [ManagerPersonalCode]) VALUES (N'C#', N'38904172782')
GO
INSERT [dbo].[Employee] ([PersonalCode], [FirstName], [LastName], [StartDate], [BirthDate], [Position], [DepartmentName], [ProjectID]) VALUES (N'38101122335', N'Petras', N'Petraitis', CAST(N'2009-10-30' AS Date), CAST(N'1981-01-11' AS Date), N'Tester', N'Testing', 1)
INSERT [dbo].[Employee] ([PersonalCode], [FirstName], [LastName], [StartDate], [BirthDate], [Position], [DepartmentName], [ProjectID]) VALUES (N'38010101234', N'Jonas', N'Jonaitis', CAST(N'2007-05-30' AS Date), CAST(N'1980-10-10' AS Date), N'Developer', N'Java', 2)
INSERT [dbo].[Employee] ([PersonalCode], [FirstName], [LastName], [StartDate], [BirthDate], [Position], [DepartmentName], [ProjectID]) VALUES (N'38103201435', N'Rimas', N'Plekaitis', CAST(N'2009-10-30' AS Date), CAST(N'1981-03-20' AS Date), N'Developer', N'Java', 3)
GO
INSERT [dbo].[Project] ([ID], [Name]) VALUES (1, N'Izola')
INSERT [dbo].[Project] ([ID], [Name]) VALUES (2, N'RegistryCenter')
INSERT [dbo].[Project] ([ID], [Name]) VALUES (3, N'Kaunas')
GO
